/*Styles go here*/
*, *:before, *:after {
  box-sizing: border-box;
}

header{
    background-image: url(img/jesse.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    padding: 1rem 0;
    margin: 0;
    width: 100%;
}

.menu-trigger {
    font-size: 1.8em;
    width: 4em;
    color: #025C7A;
  }

.navigation{
  font-family: 'Antic Slab', serif;
  margin:0;
  list-style-type: none;
  display: none;
  flex-flow: column;
  color:#ffffff;
  background-color: #025C7A;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}

.navigation li {
  margin:0;
  padding:0;
  border-bottom: 1px solid #ccc;
}

.navigation a{
  font-family: 'Antic Slab', serif;
  display: block;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  color: white;
}

.navigation a:hover, .navigation a:active {
  background-color: #F1B82D;
}

.picture{
  object-position: center;
}

body {
    line-height: 1.45em;
    background-color: #ffffff;
}

#container {
    width: 90%;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

#bar {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 0.7em;
    border-bottom: 1px solid #ccc;
}

h1, h2{
    font-family:"Lora", Georgia, "Times New Roman", serif;
    font-weight: 300;
    text-align: center;
    color:#025C7A;
    padding: 10px;
    margin:auto;
}

h1 {
    font-size: 3em;
    margin-top: 0.5em;
}

h2{
    font-size: 1.5em;
    color: #ffffff;
    margin-bottom: 0.8em;
}

article{
  background-color: #F1B82D;
  width: 100%;
}

.aside-1{
  background-color: #ffffff;
  text-decoration: none;
  flex-flow: row;
  padding:2;
}

.aside-2{
  background-color: #025C7A;
  font-family: 'Antic Slab', serif;
  color: #ccc;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  flex-flow: row;
  font-weight: bold;
  width: 100%;
}

.categories li{
  margin:0;
  padding:0;
  border-bottom: 1px;
  font-size: 1em;
  text-decoration: none;
}

p {
    font-family: "Libre Franklin", Helvetica, Arial, sans-serif;
    font-size: 1em;
    margin-bottom: 0.8em;
    text-align: left;
}

h3,h4{
  font-family: "Libre Franklin", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  margin-top: 0.5em;
  text-align: center;
}

h5{
  text-align: center;
  font-family: "Libre Franklin", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
}

img{
  margin-bottom: 1em;
}

table {
    width: 100%;
}

td {
    height: 50px;
    text-align: center;
}

table, td, tr {
   border: 1px solid black;
   color:#ffffff;
   background-color: #4D4F4F;
   font-weight: bold;
   text-decoration: none;
   text-align: center;
   text-decoration: inherit;
   font-family: 'Libre Franklin', sans-serif;
   }

@media screen and (min-width: 500px){



     .menu-trigger{
       display: block;
       order:1;
     }

     #container {
        width: 80%;
    }

    .aside-1{
      display: block;
      order:2;
    }

    .aside-2{
      order:3;
    }

   }

@media (min-width:700px) {

  .navigation {
        flex-flow: row wrap;
        justify-content: flex-end;
        display: flex;
        margin: 1em;
      }

  .navigation a {
      border: none;
  }

  .menu-trigger {
        display: none;
        order: 1;
    }

.title{
  width: 40%;
}

    .wrapper{
      display: flex;
      flex-flow: row wrap;
    }

    nav ul {
      display: flex;
    }

    aside {
      flex: 0.5 auto;
  }

  article {
                  width: 80%;
                  height:85%;
                  float: left;
              }

    .aside-1{
      order:2;
      width:20%;
      height:60%;
      float: left;
      margin:0;
      padding:0;
    }

    footer{
      order:4;
}
}

#storycat a:link, #storycat a:visited{
display: block;
color:#ffffff;
font-weight: bold;
text-decoration: none;
text-align: center;
text-decoration: inherit;
padding: 8px;
margin: 4px;
font-family: 'Libre Franklin', sans-serif;
}

#storycat a:hover, #storycat a:active {
 background-color: #FAF205;
 color:black;
}

#footer {
    border-top: 1px solid #ccc;
    font-size: 0.5em;
    text-align: center;
    order:4;
}

#nav{
  text-decoration: none;
  list-style-type: none;
  margin:0;
  padding:0;
}

#nav a:link, #nav a:visited {
      display: block;
      color:#ffffff;
      background-color: #b2b2b2;
      font-weight: bold;
      text-decoration: none;
      text-align: center;
      text-decoration: inherit;
      padding: 8px;
      margin: 4px;
    font-family: 'Libre Franklin', sans-serif;
    }

#nav a:hover, #nav a:active {
      background-color: #4D4F4F;
    }

form {
    margin: 0 auto;
    padding: 4em;
    border: 1px solid #CCC;
    border-radius: 1em;
    width: 90%;
  }

form div + div {
    margin-top: 1em;
  }

  label {
    display: inline-block;
    width: 90%;
    text-align: left;
  }

  input, textarea {
    font: 1em sans-serif;
    width: 90%;
    height: 3em;
    box-sizing: border-box;
    border: 1px solid #999;
  }

  input:focus, textarea:focus {
    border-color: #000;
  }

  textarea {
    vertical-align: top;


    height: 8em;
  }

  .button {
    padding-bottom: 1px;
  }

  button {
    margin-bottom: 0.5em;
  }
