*, *:before, *:after {
  box-sizing: border-box;
}

header{
    padding: 1rem 0;
    margin: 0;
    width: 100%;
}

.menu-trigger {
    font-size: 1.8em;
    width: 4em;
    color: #025C7A;
  }

.navigation{
  font-family: 'Antic Slab', serif;
  margin:0;
  list-style-type: none;
  display: none;
  flex-flow: column;
  color:#ffffff;
  background-color: #025C7A;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}

.navigation li {
  margin:0;
  padding:0;
  border-bottom: 1px solid #ccc;
}

.navigation a{
  font-family: 'Antic Slab', serif;
  display: block;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  color: white;
}

.navigation a:hover, .navigation a:active {
  background-color: #F1B82D;
}

.top-content p {
  text-align: center;
}

.workshopperslist a {
  text-decoration: none;
  color: #025C7A;
}

.workshopperslist a:hover, .workshopperslist a:active {
  color: #F1B82D;
}

.sponsorslist li {
  list-style-type: none;
}

.sponsorslist a {
  text-decoration: none;
  font-family:"Libre Franklin", Helvetica, Arial, sans-serif;
  color: blue;
  font-size: 20px;
}

.sponsorslist a:visited {
  color: gray;
}

.sponsorslist a:hover {
  color: #F1B82D;
}

/*bottom navigation2 style*/
.navigation2{
  font-family: 'Antic Slab', serif;
  margin:0;
  list-style-type: none;
  display: block;
  flex-flow: column;
  color:#F1B82D;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}

.navigation2 li {
  margin:0;
  padding:0;
}

.navigation2 a{
  font-family: 'Antic Slab', serif;
  display: block;
  font-size:0.7em;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  color: #F1B82D;
}

/*end here*/

body {
    line-height: 1.45em;
    background-color: #ffffff;
}

#bar {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 0.7em;
    border-bottom: 1px solid #ccc;
}

#container {
    width: 90%;
    margin: 0 auto;
}

h1, h2{
    font-family:"Libre Franklin", Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-align: center;
    color:#025C7A;
    padding: 10px;
    margin:auto;
    line-height: normal;
}

h1 {
    font-size: 3em;
    margin-top: 0.5em;
}

h2{
    font-size: 1.5em;
    margin-bottom: 0.8em;
}

article{
  width: 100%;
}

.card-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.card {
    width: 100%;
    border: 1px solid black;
    box-shadow: 1px 1px 3px #888;
    border-top: 1px solid black;
    padding: 0;
    margin-bottom: 20px;
}

.card p {
    padding: 10px;
    margin-bottom: 0.5em;
}

.card img {
  width: 100%;
  height: auto;
}

.staff-name {
  font-weight: bold;
}

.aside-1{
  background-color: #ffffff;
  font-family: 'Antic Slab', serif;
  color: #000;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  flex-flow: row;
  font-weight: bold;
  width: 100%;
}

.categories li{
  margin:0;
  padding:0;
  border-bottom: 1px;
  font-size: 1em;
  text-decoration: none;
}

p {
    font-family: "Libre Franklin", Helvetica, Arial, sans-serif;
    font-size: 1em;
    margin-bottom: 0.8em;
    text-align: left;
}

h3,h4{
  font-family: "Libre Franklin", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  margin-top: 0.5em;
  text-align: center;
}

h5{
  text-align: center;
  font-family: "Libre Franklin", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
}

img{
  margin-bottom: 1em;
}

table {
    width: 100%;
}

td {
    height: 50px;
    text-align: center;
}

table, td, tr {
   border: 1px solid black;
   color:#000;
   background-color: white;
   font-weight: bold;
   text-decoration: none;
   text-align: center;
   text-decoration: inherit;
   font-family: 'Libre Franklin', sans-serif;
   }


#storycat a:link, #storycat a:visited{
display: block;
color:#000;
font-weight: bold;
text-decoration: none;
text-align: center;
text-decoration: inherit;
padding: 8px;
margin: 4px;
font-family: 'Libre Franklin', sans-serif;
}

#storycat a:hover, #storycat a:active {
 background-color: #F1B82D;
 color:black;
}

#footer {
    border-top: 1px solid #ccc;
    font-size: 0.5em;
    text-align: center;
    order:4;
}

#nav{
  text-decoration: none;
  list-style-type: none;
  margin:0;
  padding:0;
}

#nav a:link, #nav a:visited {
      display: block;
      color:#ffffff;
      background-color: #b2b2b2;
      font-weight: bold;
      text-decoration: none;
      text-align: center;
      text-decoration: inherit;
      padding: 15px;
      margin: 20px;
    font-family: 'Libre Franklin', sans-serif;
    }

#nav a:hover, #nav a:active {
      background-color: #4D4F4F;
    }

form {
    margin: 0 auto;
    padding: 4em;
    border: 1px solid #CCC;
    border-radius: 1em;
    width: 90%;
  }

form div + div {
    margin-top: 1em;
  }

  label {
    display: inline-block;
    width: 90%;
    text-align: left;
  }

  input, textarea {
    font: 1em sans-serif;
    width: 90%;
    height: 3em;
    box-sizing: border-box;
    border: 1px solid #999;
  }

  input:focus, textarea:focus {
    border-color: #000;
  }

  textarea {
    vertical-align: top;


    height: 8em;
  }

  .button {
    padding-bottom: 1px;
  }

  button {
    margin-bottom: 0.5em;
  }

  .article-1{
  width:100%;
  background-color:#ffffff;
}

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  .mySlides {
      display: none;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /*
slideshow end here*/

/*mediaquery here*/
@media (min-width:800px) {

  .navigation {
        flex-flow: row wrap;
        justify-content: flex-end;
        display: flex;
        margin: 1em;
      }

  .navigation a {
      border: none;
  }

  .menu-trigger {
        display: none;
        order: 1;
    }

    .title{
      width: 40%;
  }

  .card-container{
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card{
    width: 45%;
  }

    nav ul {
      display: flex;
    }


  article {
    width: 70%;
    float: left;
    order: 1;
  }

  aside {
    flex: 1 100px;
    order: 2;
  }

    .navigation2{
      float:right
      width:auto;
      height:auto;
    }

    #footer{
      clear:both;
}

}
@media (min-width:930px) {

.navigation {
        flex-flow: row wrap;
        justify-content: flex-end;
        display: flex;
        margin: 1em;
      }

  .navigation a {
      border: none;
  }

  .menu-trigger {
        display: none;
        order: 1;
    }

    .title{
      width: 40%;
  }

  .card-container{
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    width: 20%;
  }

    nav ul {
      display: flex;
    }

    aside {
      flex: 0.5 auto;
    }

  article {
            width: 70%;
            float: left;
            padding-left: 150px;
              }


    .navigation2{
      width:30%;
      float:right;
    }

    #footer{
      clear:both;
}
}
/*ends mediaquery*/

/*examplepage container1*/
#container1{
  text-align: center;
  margin:0 auto;
  font-size: 2em;
}
